:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background: black;
}

body {
  margin: 2rem;
  border-radius: 1rem;
  min-height: 90%;
  background: lightskyblue;
  text-align: center;
}

h1 {
  height: 12rem;
  opacity: 0.85;
  background-image: url('./images/raincloudwithlightning.png');
}

section {
  background: peru;
  text-align: center;
}
